@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #ffffff;
  background: #d80000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}
p {
  font-weight: 300;
}
.font-normal {
  font-weight: 400;
}
.font-semi-bold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.starter-template {
  margin-top: 250px;
}
.starter-template .content {
  margin-left: 10px;
}
.starter-template .content h1 {
  margin-top: 10px;
  font-size: 60px;
}
.starter-template .content h1 .smaller {
  font-size: 40px;
  color: #f2b7bd;
}
.starter-template .content .lead {
  font-size: 25px;
  color: #f2b7bd;
}
.starter-template .content .lead .font-normal {
  color: #ffffff;
}
.starter-template .links {
  float: right;
  right: 0;
  margin-top: 125px;
}
.starter-template .links ul {
  display: block;
  padding: 0;
  margin: 0;
}
.starter-template .links ul li {
  list-style: none;
  display: inline;
  margin: 0 10px;
}
.starter-template .links ul li:first-child {
  margin-left: 0;
}
.starter-template .links ul li:last-child {
  margin-right: 0;
}
.starter-template .links ul li.current-version {
  color: #f2b7bd;
  font-weight: 400;
}
.starter-template .links ul li a, a {
  color: #fefefe;
  text-decoration: underline;
}
.starter-template .links ul li a:hover, a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.starter-template .links ul li .icon-muted {
  color: #eb8b95;
  margin-right: 5px;
}
.starter-template .links ul li:hover .icon-muted {
  color: #ffffff;
}
.starter-template .copyright {
  margin-top: 10px;
  font-size: 0.9em;
  color: #f2b7bd;
  text-transform: lowercase;
  float: right;
  right: 0;
}
@media (max-width: 1199px) {
  .starter-template .content h1 {
    font-size: 45px;
  }
  .starter-template .content h1 .smaller {
    font-size: 30px;
  }
  .starter-template .content .lead {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .starter-template {
    margin-top: 0;
  }
  .starter-template .logo {
    margin: 40px auto;
  }
  .starter-template .content {
    margin-left: 0;
    text-align: center;
  }
  .starter-template .content h1 {
    margin-bottom: 20px;
  }
  .starter-template .links {
    float: none;
    text-align: center;
    margin-top: 60px;
  }
  .starter-template .copyright {
    float: none;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .starter-template .content h1 .smaller {
    font-size: 25px;
    display: block;
  }
  .starter-template .content .lead {
    font-size: 16px;
  }
  .starter-template .links {
    margin-top: 40px;
  }
  .starter-template .links ul li {
    display: block;
    margin: 0;
  }
  .starter-template .links ul li .icon-muted {
    display: none;
  }
  .starter-template .copyright {
    margin-top: 20px;
  }
}


table, td, th {
    border: 1px solid black;
}

thead td, thead th {
    text-align: center;
    background: white;
    color: black;
}

td, th {
    padding: 0.5em;
}

td.red a, td.yellow a, td.blue a, td.green a {
    color: black;
}
td.red {
    background: #ffcccc;
}
td.yellow {
    background: #ffffcc;
}
td.blue {
    background: #ccccff;
}
td.green {
    background: #ccffcc;
}

dl {
    margin-left: 2em;
}
dd {
    margin-left: 2em;
}


fieldset {
    margin-left: 1em;
}
fieldset legend {
    font-size: 14px;
    font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
}

/* Contact List */
fieldset.ContactList ul {
    display: grid;
    grid-template-columns: repeat(attr(data-num-fields), fit-content(20em));
    justify-items: stretch;
    justify-content: start;
    padding-left: 1em;
    border: 1px solid black;
}
fieldset.ContactList ul li {
    display: contents;
}
fieldset.ContactList ul li dl {
    display: contents;
}
fieldset.ContactList ul li:first-of-type dt {
    display: block;
    grid-row: 1 / auto;
    border: 1px solid grey;
}
fieldset.ContactList ul li:first-of-type dd {
    display: block;
    grid-row: 2 / auto;
    border: 1px solid grey;
}
fieldset.ContactList ul dt {
    display: none;
    padding: 0.5em;
    text-align: center;
}
fieldset.ContactList ul dd {
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

input, textarea, select {
    color: black;
}
input:required, textarea:required, select:required {
    border: thick double black;
}


details.errors {
    background-color: white;
    border: 1px solid black;
    color: #d80000;
    margin: 1ex;
    padding: 0.75ex;
}
details.errors summary {
    font-size: bigger;
    font-weight: bold;
}
details.errors .field-name {
    font-weight: bold;
}
details.errors .field {
    font-family: monospace;
    font-weight: bold;
}
details.errors .raw-data {
    font-family: monospace;
}

nav.crud {
    background-color: #d8c000;
    color: black;
    font-size: 9pt;
    padding: 0.5ex;
}
nav.crud ul {
    margin: 0;
    padding: 0;
}
nav.crud li {
    display: inline;
}
nav.crud li:not(:first-of-type):before {
    content: " · ";
}
nav.crud a {
    color: black;
}
