{% import 'macros.jinja2' as macros %}
{% if obj.data|count > 0 %}
  <dl>
  {% for key, val in obj.data.items() %}
      <dt>{{ key }}
      {% if key == obj.preferred %}
      <span class="preferred">*</span>
      {% endif %}</dt>
      <dd>{{ macros.nested(val) }}</dd>
  {% endfor %}
  </dl>
{% else %}
  (none)
{% endif %}