{% import 'macros.jinja2' as macros %}
    <section id="{{ ent._id }}">
      {% if ent.name  %}
        <h2>{{ ent.name }}</h2>
      {% else %}
        <h2>{{ ent._key }}</h2>
      {% endif %}
      <nav class="crud"><ul>
        <li><a href="{{ path_gen.item(ent) }}">Details</a></li>
        <li><a href="{{ path_gen.edit(ent) }}">Edit</a></li>
        <li><a href="{{ path_gen.delete(ent) }}">Delete</a></li>
      </ul></nav>
      {% if isloop %}
        {% if ent.description is defined %}
          <div class="description">{{ ent.description }}</div>
        {% else %}
          {{ macros.dl(ent._dump(), True, show_nones, exclude) }}
        {% endif %}
      {% else %}
        {{ macros.dl(ent._dump(), True, show_nones, exclude) }}
      {% endif %}
    </section>

