{% extends "../baselayout.jinja2" %}

{% block title %}
  {% if headertitle %}
    {{ headertitle }} - {{ super() }}
  {% else %}
    {{ super () }}
  {% endif %}
{% endblock %}

{% block content %}
    {% include [entity_class.__name__ + '.jinja2', entity_class.__collection__ + '.jinja2', 'default.jinja2'] %}
{% endblock %}