{% macro dl(data, recursive=True, show_nones=True, exclude=[]) %}
  <dl>
    {% for k, v in data.items() %}
      {% if k not in exclude and (show_nones or (v is not none and (v is not iterable or v|length > 0))) %}
      <dt>{{ k|replace('_', ' ')|title }}</dt>
      <dd>
        {{ value(v, recursive, show_nones, exclude) }}
      </dd>
      {% endif %}
    {% endfor %}
  </dl>
{% endmacro %}

{% macro value(v, recursive=True, show_nones=True, exclude=[]) %}
  {% if v._entity_type %}
    {{ nested(v, recursive, show_nones, exclude) }}
  {% elif recursive %}
    {% if v is mapping %}
      {{ dl(v, recursive, show_nones, exclude) }}
    {% elif v is string %}
      {{ v }}
    {% elif v is sequence %}
      {{ ol(v, recursive, show_nones, exclude) }}
    {% elif v is iterable %}
      {{ ul(v, recursive, show_nones, exclude) }}
    {% else %}
      {{ v }}
    {% endif %}
  {% else %}
    {{ v }}
  {% endif %}
{% endmacro %}

{% macro ul(data, recursive=True, show_nones=True, exclude=[]) %}
  <ul>
    {{ li(data, recursive, show_nones, exclude) }}
  </ul>
{% endmacro %}

{% macro ol(data, recursive=True, show_nones=True, exclude=[]) %}
  <ol>
    {{ li(data, recursive, show_nones, exclude) }}
  </ol>
{% endmacro %}

{% macro li(data, recursive=True, show_nones=True, exclude=[]) %}
  {% for v in data %}
    <li>
      {{ value(v, recursive, show_nones, exclude) }}
    </li>
  {% endfor %}
{% endmacro %}

{% macro nested(obj, recursive=True, show_nones=True, exclude=[]) %}
   {% include [obj._entity_type.class+'.jinja2',
               'default_nested.jinja2'] %}
{% endmacro %}