{% import 'macros.jinja2' as macros %}
  <section id="{{ ent._id }}">
    {% set names = ent.names_list|select|list %}
    {% if names %}
      <h2>{{ names|join(' ') }}</h2>
    {% else %}
      <h2>{{ ent._key }}</h2>
    {% endif %}

    {{ macros.dl(ent._dump(), True, show_nones, exclude + ent.name_fields) }}
  </section>
