<a href="tel:{{ obj.value }}">{{ obj.value }}</a>
{% if obj.can_text %}
  (<a href="sms:{{ obj.value }}">SMS</a>)
{% endif %}
{% if obj.is_fax %}
  (<a href="fax:{{ obj.value }}">fax</a>)
{% endif %}
