<address>
{% if obj.street %}
  {{ obj.street }}<br/>
{% endif %}
{% if obj.city and obj.province %}
  {{ obj.city }}, {{ obj.province }}<br/>
{% elif obj.city %}
  {{ obj.city }}<br/>
{% elif obj.province %}
  {{ obj.province }}<br/>
{% endif %}
{% if obj.postal_code %}
  {{ obj.postal_code }}<br/>
{% endif %}
{% if obj.country %}
  {{ obj.country }}<br/>
{% endif %}
</address>