{% import 'macros.jinja2' as macros %}
{% set field_count = form.field_list[0].data|length %}
    <fieldset id="{{ entity_class.__name__ }}-{{ titletype.text }}" class="{{ entity_class.__name__ }} {{ titletype.text }}">
      <legend>{{ titletype.text }}</legend>
      <ul data-num-fields="{{ field_count }}">
        {% for contact in form.field_list %}
          <li><dl>
            {% for field in contact %}
              {% if field.type != "HiddenField" %}
                <dt>{{ field.label }}</dt>
                <dd>{{ field() }}</dd>
              {% endif %}
            {% endfor %}
          </dl></li>
        {% endfor %}
      </ul>
    </fieldset>
