{% import 'macros.jinja2' as macros %}
    <fieldset id="{{ entity_class.__name__ }}">
      <legend>{{ titletype }}</legend>
      {% if errors %}
        <details class="errors">
          <summary>Submission Errors</summary>
          <ul>
        {% for field, err_msg in errors.items() %}
            <li><span class="field-name">{{ form[field].label.text }}</span>:
              <span class="error-message">{{ err_msg }}</span> (<var class="field">{{ field }}</var>:
              <kbd class="raw-data">{{ form[field].raw_data }}</kbd>)</li>
        {% endfor %}
          </ul>
        </details>
      {% endif %}
      {% for field in form %}
        {% if field.type == "FormField" %}
          {{ macros.form_field(field.form_class(), field.label, field) }}
        {% elif field.type == "HiddenField" %}
          {{ field() }}
        {% else %}
          {{ field.label }}{{ field() }}
        {% endif %}
      {% endfor %}
    </fieldset>

