{% extends "../baselayout.jinja2" %}

{% block title %}
  {% if headertitle %}
    {{ headertitle }} - {{ super() }}
  {% else %}
    {{ super () }}
  {% endif %}
{% endblock %}

{% block content %}
  <form method="POST">
    {% include [entity_class.__name__ + '.jinja2', entity_class.__collection__ + '.jinja2', 'default.jinja2'] %}
    <input type="submit"/> <input type="reset"/>
  </form>
{% endblock %}