{% macro dl(data, recursive=True, show_nones=True, exclude=[]) %}
  <dl>
    {% for k, v in data.items() %}
      {% if k not in exclude and (show_nones or (v is not none and (v is not iterable or v|length > 0))) %}
      <dt>{{ k|replace('_', ' ')|title }}</dt>
      <dd>
        {{ form_field(data.schema(), k, v, recursive, show_nones, exclude) }}
      </dd>
      {% endif %}
    {% endfor %}
  </dl>
{% endmacro %}

{% macro fdiv(data, recursive=True, show_nones=True, exclude=[]) %}
  <div>
    {% for k, v in data.items() %}
      {% if k not in exclude and (show_nones or (v is not none and (v is not iterable or v|length > 0))) %}
        <label for="{{ k }}">{{ k|replace('_', ' ')|title }}
        {% if v.required %}<span class="required">*</span>{% endif %}</label>
        {{ form_field(data.schema(), k, v, recursive, show_nones, exclude) }}
      {% endif %}
    {% endfor %}
  </div>
{% endmacro %}

{% macro form_field(form, titletype, field, recursive=True, show_nones=True, exclude=[]) %}
  {% set entity_class = form.data_class %}
  {% set cls_name = entity_class.__name__|string %}
  {% set collection = entity_class.__collection__|string %}
  {% include [ cls_name + '.jinja2', collection + '.jinja2', 'default.jinja2'] %}
{% endmacro %}


{% macro value(v, recursive=True, show_nones=True, exclude=[]) %}
  {% if v._entity_type %}
    {{ nested(v, recursive, show_nones, exclude) }}
  {% elif recursive %}
    {% if v is mapping %}
      {{ dl(v, recursive, show_nones, exclude) }}
    {% elif v is string %}
      {{ v }}
    {% elif v is sequence %}
      {{ ol(v, recursive, show_nones, exclude) }}
    {% elif v is iterable %}
      {{ ul(v, recursive, show_nones, exclude) }}
    {% else %}
      {{ v }}
    {% endif %}
  {% else %}
    {{ v }}
  {% endif %}
{% endmacro %}


{% macro ul(data, recursive=True, show_nones=True, exclude=[]) %}
  <ul>
    {{ li(data, recursive, show_nones, exclude) }}
  </ul>
{% endmacro %}


{% macro ol(data, recursive=True, show_nones=True, exclude=[]) %}
  <ol>
    {{ li(data, recursive, show_nones, exclude) }}
  </ol>
{% endmacro %}


{% macro li(data, recursive=True, show_nones=True, exclude=[]) %}
  {% for v in data %}
    <li>
      {{ value(v, recursive, show_nones, exclude) }}
    </li>
  {% endfor %}
{% endmacro %}


{% macro nested(obj, recursive=True, show_nones=True, exclude=[]) %}
   {% include [obj._entity_type.class+'.jinja2',
               'default_nested.jinja2'] %}
{% endmacro %}