{% extends "baselayout.jinja2" %}

{% block content %}
<div class="content">
  <h1>{{ curriculum.name }}</h1>
  <h2>{{ curriculum.style.name }}</h2>
  <p>{{ curriculum.description }}</p>
  <table class="curriculum {{curriculum.slug}}">
    <thead>
      <tr>
        <th colspan="2">Rank</th>
        <th colspan="{{ curriculum.requirement_schema|count }}">Requirements</th>
      </tr>
      <tr>
        <th title="Student's rank when first working on listed requirements">Current</th>
        <th title="Rank the student is working towards by progressing through the listed requirements">Next</th>
        {% for tag, label in curriculum.requirement_schema.items() %}
          <th class="{{ tag }}">{{ label }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for r in ranks %}
        <tr class="rank-row {{ r.slug }}">
          <th>{{ r.name }}</th>
          <th>{% if not loop.first %}{{ loop.previtem.name }}{% endif %}</th>
          {% for tag in curriculum.requirement_schema.keys() %}
            <td class="{{ tag }}">
              {% for req in curr_table[r.slug][tag] %}
                <div><a href="/{{ req.__collection__ }}/{{ req.slug|d(req._key) }}">{{ req.name }}</a></div>
              {% endfor %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
